@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

html {

    font-size: 62.5%;
    box-sizing: border-box;
}
    
body {
    
    font-size: 16px
    
    /* 1rem = 10px */
    
}

* {
    text-decoration: none;
    list-style: none;
    outline: none;
}

h2 {
    font-size: 3rem;
}
/* ------------------------------------------------------------------ HEADER ------------------------------------------------------------------ */
.header {
    width: 100%;
}

.header__grid {
    background: #343A40;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.div__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.div__logo:hover {
    transform: scale(1.1);
}

.logo {
    width: 20rem;
    padding: 0rem;
}

.logo__p {
    color: #ffffff;
    font-size: 3rem;
}

@media (min-width: 425px) {
    .div__logo {
        flex-direction: row;
    }
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__ul {
    padding: 0 1rem;;
    
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.header li {
    text-align: center;
    padding: 1rem;
    border-radius: .5rem;
    transition: all .3s;
}

.header li:hover {
    background: #202327;
}

.header a {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.span__gris {
    color: #8F9AA5;
}

.span__verde {
    color: #27A842;
}

@media (min-width: 1024px) {
    .header__grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .header__logo {
        grid-column: 1 / 2;
    }

    .header__nav {
        grid-column: 2 / 4;
    }

    .header__ul {
        flex-direction: row;
    }
}
/* ------------------------------------------------------------------ FIN HEADER ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ MAIN ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ SECTION 1 ------------------------------------------------------------------ */
.main__section1 {
    background-image: url(./img/hawaii.jpg);
    height: 70rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
    background: #0007;
    width: 100%;
    height: 100%;
}

.section1__div {
    height: 100%;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1__text {
    text-align: center;
    padding: 0 1rem;
    width: 70%;
}

.section__buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.button-1 {
    border: 1px solid white;
    transition: all .3s;
}

.button-2 {
    background: #29A744;
    transition: all .3s;
}

.button-2,
.button-1 {
    cursor: pointer;
    padding: 1rem;
    border-radius: .5rem;
}

.button-2:hover {
    transform: scale(1.1);
}

.button-1:hover {
    transform: scale(1.1)
}

@media (min-width: 768px) {
    .section1__div {
        width: 50%;
        align-items: flex-end;
        margin-right: 12rem;
        margin-top: 5rem;
    }

    .bg {
        display: flex;
        justify-content: flex-end;
    }

    .section1__title {
        margin: 0;
        font-size: 4rem;
    }

    .section1__text {
        text-align: right;
        font-size: 2.5rem;
        width: 100%;
    }
}
/* ------------------------------------------------------------------ FIN SECTION 1 ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ SECTION 2 ------------------------------------------------------------------ */
.article {
    max-width: 35rem;
    margin: 0 auto;
    border: 1px solid #E0E0E0;
    text-align: center;
    margin-bottom: 5rem;
    border-radius: .5rem;
}

.article2__img {
    width: 100%;
    height: 35rem;
}

.article__content {
    padding: 0 1.5rem;
    text-align: justify;
    line-height: 3rem;
    color: #1E262B
}

.article__content h3 {
    margin: 0;
    font-size: 2.5rem;
}

.article__div {
    color: #ffffff;

    display: flex;
    gap: 1rem;
    font-weight: 700;
    padding: 0 1.5rem;
    margin: 0;
}

.js {
    background: #FEC207;
    color: #000000;
}

.react {
    background: #17A2B7;
}

.negocios {
    background: #6C747D;
}

.startups {
    background: #DC3546;
}

.js,
.react,
.negocios,
.startups {
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
}

@media (min-width: 1214px) {
    .section2__grid {
        margin: auto;
        width: 110rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        transform: scale(1.1)
    }
    
}

.section2__p {
    text-align: center;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
}

.section2__h2 {
    text-align: center;
    margin: 0 0 5rem 0;
    font-family: 'Open Sans', sans-serif;
}
/* ------------------------------------------------------------------ FIN SECTION 2 ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ SECTION 3 ------------------------------------------------------------------ */
.section3 {
    height: 60rem;
}

.section3__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 40rem;
}

.section3__img {
    grid-column: 1 / 2;
}

.section3__div {
    grid-column: 2 / 3;
    color: #ffffff;
    padding: 2rem;
    background: #343A40;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section3__button {
    border: 1px solid #ffffff;
    padding: .5rem;
    border-radius: .5rem;
}

.playa {
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;
}

@media (max-width: 768px) {
    .section3__grid {
        grid-template-rows: repeat(2, 1fr);
    } 
    .section3__img {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    .section3__div {
        grid-column: 1 / 3;
    }
}   

.section3__button {
    cursor: pointer;
    transition: all .3s;
}

.section3__button:hover {
    transform: scale(1.1);
}
/* ------------------------------------------------------------------ FIN SECTION 3 ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ SECTION 4 ------------------------------------------------------------------ */
.section4__title {
    margin: 0 auto;
    text-align: center;
}

.ignite {
    text-decoration: underline dotted;
}

.form {
    width: min(90rem, 100%);
    margin: 0 auto;
}

fieldset {
    border: none;
}

.campo {
    margin-bottom: 1rem;
}

.input-text {
    width: 100%;
    border-radius: .5rem;
    border: 1px solid #CED4DA;
    padding: .5rem 0;
}

.submit {
    width: 100%;
    background: #96C93E;
    border: none;
    border-radius: .5rem;
    color: #ffffff;
    padding: 1rem 0;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s;
}

.submit:hover {
    background: #72992f
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 0;
        grid-template-rows: repeat(4, 1fr);
    }

    .campo__textarea {
        grid-column: 1 / 3;
    }

    fieldset p {
        grid-column: 1 / 3;
    }

    .campo__button {
        grid-column: 1 / 3;
    }
}
/* ------------------------------------------------------------------ FIN SECTION 4 ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ FOOTER ------------------------------------------------------------------ */
.footer__ul {
    background: #1D3947;
    text-align: center;
    margin: 5rem 0 0 0;
    padding: 1rem;
}

.footer__li {
    margin: .5rem;
    padding: 1rem;
    border-radius: .5rem;
    transition: all .3s;
}

.footer__li a {
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

.footer__li:hover {
    background: #12222b;
    transform: scale(1.1);
}

@media (min-width: 768px) {
    .footer__ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .footer__ul {
        display: flex;
        justify-content: space-evenly;
        padding: 2rem 0;
    }
}
/* ------------------------------------------------------------------ FIN FOOTER ------------------------------------------------------------------ */