@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');}


* {
    text-decoration: none;
}

html {

    font-size: 62.5%
    
}
    
body {
    
    font-size: 16px
    
    /* 1rem = 10px */
    
}

.background {
    background-image: url(img/hawaii2.jpg);
    height: 10rem;
}

.section1 {
}