

.main {
    padding: 1rem;
    margin: auto;
}

.span {
    color: #B2ADA8;
    font-size: .8rem;
}

.contenedor {
    max-width: 1300px;
    margin: 0 auto;
}

.card-img-top {
    max-height: 151px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.a {
    height: 151px;
}

form {
    padding: 1rem;
}

.card {
    cursor: pointer;
}