body {
    background: rgb(0, 255, 221);
}

.container {
    background: #def;
}

.classsection {
    background: yellow;
}

.selectores {

}

/* Aplicar estilo por ID */
#idsection {
    background: #789
}

#nav {
    background: #9ad
}

/* Estilos para clases */
.link {
    background: #3a9
}

.dog {
    width: 300px;
    height: 200px;
}